{% extends "base.html" %}

{% block content %}

<span>globomap</span>
<h2>Lista de VMs a partir de uma máquina física</h2>
<form action="" method="post" novalidate>
  <div class="ss-form-row">
    <label class="ss-label" for="machine">Maquina física</label>
    <input class="ss-input-text" type="text" name="machine"
           value="{% if machine %}{{ machine }}{% endif %}"> <br>
    <br>
    <button class="ss-btn" type="submit">Enviar</button>
  </div>
</form>
<br>

{% if vms %}
<table class="ss-table">
  <tr>
    <th>Name</th>
    <th>Ip</th>
  </tr>
  {% for vm in vms %}
  <tr>
    <td>{{ vm.name }}</td>
    <td>{{ vm.ip }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
