{% extends "base.html" %}

{% block content %}

<span>globomap</span>
<h2>Lista de VMs em uma máquina física</h2>
<form action="{{ url_for('server_list') }}" method="post">
  <div class="ss-form-row">
    <input type="radio" name="search_type" id="by_name" value="by_name" {% if search_type == 'by_name' or not search_type %}checked{% endif %}>
    <label for="by_name">Por Nome</label>
    <input type="radio" name="search_type" id="by_ip" value="by_ip" {% if search_type == 'by_ip' %}checked{% endif %}>
    <label for="by_ip">Por IP</label>
    <input class="ss-input-text" type="text" name="server_q" value="{% if server_q %}{{ server_q }}{% endif %}">
    <button class="ss-btn" type="submit">Procurar</button>
  </div>
</form>
<br>

{% if step == 1 %}
  {% if server_list %}
  <p>
    Máquinas com
    {% if search_type == 'by_name' %}nome{% else %}IP{% endif %}
    semelhante a "<strong>{{ server_q }}</strong>":
  </p>
  <table class="ss-table server-list">
    <tr>
      <th>Nome</th>
      <th>IPs</th>
    </tr>
    {% for server in server_list %}
    <tr>
      <td><a href="{{ server.vm_list_url }}">{{ server.name }}</a></td>
      <td>{{ server.ips|join(', ') }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>
    Nenhuma máquina com o
    {% if search_type == 'by_name' %}nome{% else %}IP{% endif %}
    <strong>{{ server_q }}</strong> foi encontrada.
  </p>
  {% endif %}
{% endif %}

{% if step == 2 %}
  {% if vm_list %}
  <p>VMs em <strong>{{ server_name }}</strong>:</p>
  <table class="ss-table vm-list">
    <tr>
      <th>Name</th>
      <th>IPs</th>
    </tr>
    {% for vm in vm_list %}
    <tr>
      <td>{{ vm.name }}</td>
      <td>{{ vm.ips|join(', ') }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>Nenhuma VM encontrada em <strong>{{ server_name }}</strong></p>
  {% endif %}
{% endif %}

{% endblock %}
