:root {
  /* colors */
  --main-color: #15a177;
  --bg-color: #f6f6f8;
  --bg-context-color: #eceef2;
  --line-context-color: #dedeef;
  --color-danger: #de3635;;
  --color-success: #0ac478;

  /* fonts */
  --font-normal: "opensans-regular", Helvetica, sans-serif;
  --font-light: "opensans-light", Helvetica, sans-serif;
}

a {
  color: var(--main-color);
}

a:hover {
  opacity: 0.80;
}

h1 {
  letter-spacing: -1px;
}

h2,
h3 {
  font-family: var(--font-light);
  font-size: 2.3rem;
  font-weight: 300;
  color: var(--main-color);
  margin: 0 0 40px;
}

h3 {
  font-size: 1.8rem;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin: 32px 0;
}

.ss-middle-layout {
  max-width: 50rem;
  padding: 2rem;
  margin: auto;
}

.ss-table {
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.ss-table th,
.ss-table td {
  text-align: left;
  font-size: 0.85em;
  margin: 0;
  padding: 12px;
  border-bottom: 1px solid #ddd;

  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ss-table th {
  font-weight: bold;
  color: var(--main-color);
}

.ss-table td {
  background-color: white;
}

.ss-table tr:last-child td {
  border-bottom: none;
}
